.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#increase {
  background-color: rgb(74, 32, 211);
  color: beige;
}

#increase:hover{
  background-color: rgb(112, 51, 224);
}

#decrease {
  background-color: rgb(185, 30, 30);
  color: beige;
}

#decrease:hover{
  background-color: rgb(223, 86, 81);
}

.container {
  background-color: honeydew;
  color: rgb(10, 8, 136);
}